Repository or2008/node-esm-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run lint:package.json

remove grafana keys
  src/services/logger.ts
Due: npm run lint:fix

add chatgpt service
  src/config.ts
  src/services/chatgpt.ts
  src/services/telegram.ts
  src/types/environment.d.ts
  tsconfig.json
Due: npm run lint:fix

add chatgpt
  package.json
Due: npm run lint:package.json

add tg-dgst module
  .eslintrc
  src/modules/digest-telegram-bot/index.ts
  src/services/chatgpt.ts
  src/services/telegram-bot/helpers.ts
  src/services/telegram-bot/telegram-bot.ts
  src/services/telegram.ts
Due: npm run lint:fix

move logic out of app
  src/app.ts
  src/services/telegram-bot/telegram-bot.ts
  src/services/telegram-core.ts
Due: npm run lint:fix

change unsafe regex to warning
  .eslintrc
  src/services/telegram-bot/helpers.ts
Due: npm run lint:fix

move logic to digest folder
  src/modules/digest-telegram-bot/index.ts
Due: npm run lint:fix

fix types for post messages
  .eslintrc
  src/services/telegram-core.ts
  src/services/telegram/core/types/post/chat.ts
  src/services/telegram/core/types/post/media.ts
  src/services/telegram/core/types/post/peer.ts
  src/services/telegram/core/types/post/reply.ts
  src/services/telegram/core/types/post/root-object.ts
  src/services/telegram/core/types/post/user.ts
  src/telegram-bot-commands.ts
Due: npm run lint:fix

cleanups
  src/app.ts
  src/services/telegram-bot/helpers.ts
  src/services/telegram-core.ts
  src/services/telegram/core/types/post/user.ts
Due: npm run lint:fix

test precommit
  src/app copy.ts
Due: npm run lint:fix

limit convo to max tokens
  .vscode/launch.json
  package.json
  src/modules/digest-telegram-bot/index.ts
  src/modules/digest-telegram-bot/texts.ts
  src/modules/llm/helpers.ts
  src/modules/llm/llm.ts
  src/services/open-ai/open-ai.ts
  src/services/telegram-bot/telegram-bot.ts
Due: npm run lint:fix, npm run lint:package.json

improving prompts
  src/app.ts
  src/modules/digest-telegram-bot/index.ts
  src/modules/digest-telegram-bot/texts.ts
  src/services/telegram-bot/telegram-bot.ts
Due: npm run lint:fix

Use TG core with gramjs
  .husky/pre-commit
  scripts/setup-precommit.ts
  src/app.ts
  src/config.ts
  src/modules/digest-telegram-bot/index.ts
  src/modules/digest-telegram-bot/texts.ts
  src/services/chatgpt.ts
  src/services/telegram-core.ts
  src/services/telegram-core/helpers.ts
  src/services/telegram-core/telegram-core.ts
  src/services/telegram/core/types/post/chat.ts
  src/services/telegram/core/types/post/media.ts
  src/services/telegram/core/types/post/peer.ts
  src/services/telegram/core/types/post/reply.ts
  src/services/telegram/core/types/post/root-object.ts
  src/services/telegram/core/types/post/user.ts
  src/types/environment.d.ts
Due: npm run lint:fix

working with telegram core instead of bot api
  .eslintrc
  .vscode/launch.json
  package.json
  scripts/get-telegram-client-string-session.ts
  src/app copy.ts
  src/app.ts
  src/config.ts
  src/modules/db/text-preprocessor/chunks-split/index.ts
  src/modules/db/text-preprocessor/tokenizer/index.ts
  src/modules/digest-telegram-bot/index.ts
  src/modules/digest-telegram-bot/texts.ts
  src/services/chatgpt.ts
  src/services/nlpcloud.ts
  src/services/open-ai.ts
  src/services/telegram-bot/telegram-bot.ts
  src/services/telegram-core/helpers.ts
  src/services/telegram-core/telegram-core.ts
  src/types/input.d.ts
  src/utils/string.ts
Due: npm run lint:fix, npm run lint:package.json

test lint stage
  scripts/get-telegram-client-string-session.ts
Due: none

better error handling
  src/modules/digest-telegram-bot/index.ts
  src/modules/llm/helpers.ts
  src/services/telegram-bot/telegram-bot.ts
Due: npm run lint:fix

fix missing client connect
  src/services/telegram-core/telegram-core.ts
Due: npm run lint:fix

fix tg core connect
  src/app.ts
  src/services/telegram-core/telegram-core.ts
Due: npm run lint:fix

prompt update
  src/modules/digest-telegram-bot/index.ts
Due: npm run lint:fix

add basic DB support with prisma
  .eslintrc
  package.json
  prisma/schema.prisma
  scripts/set-mock-db.ts
  src/app.ts
  src/modules/db/index.ts
  src/modules/db/low-db/index.ts
  src/modules/db/low-db/model.ts
  src/modules/digest-telegram-bot/digest-channel.ts
  src/modules/digest-telegram-bot/index.ts
  src/services/prisma.ts
  src/types/environment.d.ts
Due: npm run lint:fix, npm run lint:package.json

error handling fix
  src/modules/digest-telegram-bot/digest-channel.ts
  src/modules/digest-telegram-bot/index.ts
  src/services/telegram-core/telegram-core.ts
Due: npm run lint:fix

saving to DB
  .eslintrc
  db/db.json
  package.json
  prisma/schema.prisma
  src/modules/digest-telegram-bot/digest-channel/index.ts
  src/modules/digest-telegram-bot/index.ts
  src/modules/telegram-user/index.ts
  src/modules/telegram-user/service.ts
Due: npm run lint:fix, npm run lint:package.json

add simple rate limit
  package.json
  src/modules/digest-telegram-bot/digest-channel/index.ts
  src/modules/digest-telegram-bot/texts.ts
  src/services/telegram-bot/telegram-bot.ts
  src/types/telegraf-ratelimit.d.ts
Due: npm run lint:fix, npm run lint:package.json

update prompt
  src/modules/digest-telegram-bot/digest-channel/index.ts
  src/services/telegram-bot/telegram-bot.ts
Due: npm run lint:fix

add feedback command
  src/modules/digest-telegram-bot/index.ts
  src/modules/digest-telegram-bot/texts.ts
Due: npm run lint:fix

fix feedback command description
  src/modules/digest-telegram-bot/index.ts
Due: npm run lint:fix

add i18n support and inline callback query to channel share
  .eslintrc
  package.json
  src/app.ts
  src/lang/en.ts
  src/modules/digest-telegram-bot/digest-channel/index.ts
  src/modules/digest-telegram-bot/index.ts
  src/modules/digest-telegram-bot/texts.ts
  src/services/i18n/i18n.ts
  src/services/telegram-bot/telegram-bot.ts
  src/types/custom.d.ts
  src/types/i18next.d.ts
Due: npm run lint:fix, npm run lint:package.json

add build prod script
  package.json
  src/config.ts
  src/services/i18n/i18n.ts
Due: npm run lint:fix, npm run lint:package.json

update build prod
  package.json
Due: npm run lint:package.json

add exporess-zod-api
  .eslintignore
  .eslintrc
  nodemon.json
  package.json
  scripts/helpers.ts
  src/api-server/client-generator.ts
  src/api-server/config.ts
  src/api-server/docs/openApi.json
  src/api-server/endpoints-factory.ts
  src/api-server/endpoints-factory/file-streaming.ts
  src/api-server/frontend/client.ts
  src/api-server/middlewares/auth.ts
  src/api-server/openapi-generator.ts
  src/api-server/routes/image.ts
  src/api-server/routing.ts
  src/api-server/server.ts
  src/app.ts
  src/errors.ts
  src/modules/digest-telegram-bot/digest-channel/index.ts
  src/modules/digest-telegram-bot/index.ts
  src/modules/image/index.ts
  src/modules/llm/llm.ts
  src/modules/telegram-user/index.ts
  src/modules/telegram-user/service.ts
  src/plugins/youtube.ts
  src/services/chatgpt.ts
  src/services/comfy-ui/comfy-ui.ts
  src/services/network.ts
  src/services/open-ai.ts
  src/services/telegram-bot/helpers.ts
  src/services/telegram-bot/telegram-bot.ts
  src/services/telegram-core/helpers.ts
  src/services/ws/ws.ts
  src/services/youtube.ts
  src/types/custom.d.ts
  src/types/i18next.d.ts
  src/types/telegraf-ratelimit.d.ts
  src/utils/numbers.ts
  src/utils/string.ts
  tsconfig.json
Due: npm run lint:fix, npm run lint:package.json

add new env vars to config
  package.json
  src/api-server/config.ts
  src/api-server/docs/openApi.json
  src/api-server/endpoints-factory/file-streaming.ts
  src/api-server/endpoints-factory/json.ts
  src/api-server/frontend/client.ts
  src/api-server/openapi-generator.ts
  src/api-server/routes/docs.ts
  src/api-server/routes/image.ts
  src/api-server/routing.ts
  src/api-server/tests/image.spec.ts
  src/app.ts
  src/modules/image/enhance-prompt.ts
  src/modules/image/enhanced-prompt-templates/GPT_multiple_sd_prompts_v0.0.1.txt
  src/modules/image/index.ts
  src/services/comfy-ui/comfy-ui.ts
  src/types/environment.d.ts
Due: npm run lint:fix, npm run lint:package.json

working with stability ai
  package.json
  src/api-server/docs/openApi.json
  src/api-server/frontend/client.ts
  src/api-server/routes/image.ts
  src/app.ts
  src/config.ts
  src/modules/image/ notify-webhook.ts
  src/modules/image/enhance-prompt.ts
  src/modules/image/enhanced-prompt-templates/GPT_multiple_sd_prompts_v0.0.1.txt
  src/modules/image/index.ts
  src/services/cloudinary/cloudinary.ts
  src/services/comfy-ui/comfy-ui.ts
  src/services/network.ts
  src/services/stability-ai/stability-ai.ts
  src/types/environment.d.ts
  tsconfig.json
Due: npm run lint:fix, npm run lint:package.json

fix cloudinary
  src/config.ts
  src/modules/image/enhance-prompt.ts
  src/modules/image/index.ts
  src/services/cloudinary/cloudinary.ts
  src/services/stability-ai/stability-ai.ts
  src/types/environment.d.ts
Due: npm run lint:fix

add main
  package.json
Due: npm run lint:package.json

fix husky preinstall script
  package.json
Due: npm run lint:package.json

remove .png from filename
  src/modules/image/index.ts
Due: npm run lint:fix

fix error
  src/modules/image/ notify-webhook.ts
Due: npm run lint:fix

change limit
  src/api-server/routes/image.ts
Due: npm run lint:fix

add img2img
  package.json
  src/api-server/docs/openApi.json
  src/api-server/frontend/client.ts
  src/api-server/routes/image.ts
  src/modules/image/index.ts
  src/services/network.ts
  src/services/stability-ai/stability-ai.ts
  src/utils/form-data.ts
Due: npm run lint:fix, npm run lint:package.json

Path conditions:
  npm run lint:fix: any of: src/**/*.{js,ts,tsx,scss,css,md}
  npm run lint:package.json: any of: package.json
